USE [master]
GO
/****** Object:  Database [Dev_Xuong_Moc]    Script Date: 12/10/2024 1:42:43 PM ******/
CREATE DATABASE [Dev_Xuong_Moc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dev_Xuong_Moc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Dev_Xuong_Moc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dev_Xuong_Moc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Dev_Xuong_Moc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dev_Xuong_Moc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dev_Xuong_Moc]
GO
/****** Object:  Table [dbo].[ADMIN_LOG]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_LOG](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS] [int] NULL,
	[SESSION_ID] [nvarchar](150) NULL,
	[APP_CODE] [nvarchar](150) NULL,
	[THREAD_ID] [nvarchar](150) NULL,
	[START_TIME] [datetime] NULL,
	[END_TIME] [datetime] NULL,
	[ADMIN_USER_ID] [int] NULL,
	[USER_LOGIN] [nvarchar](150) NULL,
	[USER_NAME] [nvarchar](250) NULL,
	[IP_ADDRESS] [nvarchar](50) NULL,
	[ACTION_CODE] [nvarchar](250) NULL,
	[ACTION_NAME] [nvarchar](250) NULL,
	[MENU_CODE] [nvarchar](150) NULL,
	[MENU_NAME] [nvarchar](250) NULL,
	[WEBPAGES_ACTION_ID] [int] NULL,
	[ACTION_TYPE] [int] NULL,
	[OBJECT_ID] [int] NULL,
	[CONTENT] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](550) NULL,
	[LOG_LEVEL] [int] NULL,
	[ERROR_CODE] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMIN_USER]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [nvarchar](200) NULL,
	[PASSWORD] [nvarchar](200) NULL,
	[MA_NHAN_SU] [int] NULL,
	[NAME] [nvarchar](100) NULL,
	[PHONE] [nvarchar](30) NULL,
	[EMAIL] [nvarchar](500) NULL,
	[AVATAR] [nvarchar](200) NULL,
	[ID_PHONG_BAN] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [nvarchar](200) NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [nvarchar](200) NULL,
	[SESSION_TOKEN] [nvarchar](500) NULL,
	[SALT] [char](3) NULL,
	[IS_ADMIN] [bit] NULL,
	[TRANG_THAI] [int] NULL,
	[IS_DELETE] [bit] NULL,
 CONSTRAINT [PK__ADMIN_US__3214EC2739901ACE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANNER]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANNER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE] [nvarchar](255) NULL,
	[TITLE] [nvarchar](255) NULL,
	[SUB_TITLE] [nvarchar](255) NULL,
	[URLS] [nvarchar](255) NULL,
	[ORDERS] [int] NOT NULL,
	[TYPE] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [nvarchar](max) NULL,
	[STATUS] [tinyint] NOT NULL,
	[ISDELETE] [bit] NOT NULL,
 CONSTRAINT [PK__BANNER__3214EC274D7E8BD5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[ICON] [nvarchar](200) NULL,
	[MATE_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[ORDERS] [int] NULL,
	[PARENTID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [ntext] NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__PRODUCT___A88186B13985BFD1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[PHONE] [nvarchar](255) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[CONTENT] [ntext] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK_CONTACT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMERID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](320) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[EMAIL] [nvarchar](150) NULL,
	[PHONE] [nvarchar](50) NULL,
	[AVATAR] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_BY] [bigint] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXTENSION]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXTENSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[ICON] [nvarchar](200) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[ORDERS] [int] NULL,
	[PARENTID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [ntext] NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__PRODUCT___EXTENSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFOR_COMPANY]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFOR_COMPANY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[LOGO] [varchar](500) NULL,
	[PHONE] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[YOUTUBE] [nvarchar](500) NULL,
	[INSTAGRAM] [nvarchar](500) NULL,
	[FACEBOOK] [nvarchar](500) NULL,
	[CREATED_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
 CONSTRAINT [PK_INFOR_COMPANY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTRODUCTIONS]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTRODUCTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](300) NOT NULL,
	[IMAGE] [nvarchar](255) NOT NULL,
	[ORDERS] [int] NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[HOME] [tinyint] NULL,
	[TYPE] [tinyint] NULL,
	[PARENTID] [int] NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](4000) NULL,
	[SLUG] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[STATUS] [tinyint] NOT NULL,
	[ISDELETE] [bit] NOT NULL,
 CONSTRAINT [PK__INTRODUC__3214EC2715DFAD94] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[ICON] [nvarchar](200) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[ORDERS] [int] NULL,
	[PARENTID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [ntext] NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__MATERIAL___EXTENSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](10) NULL,
	[TITLE] [nvarchar](200) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[CONTENT] [ntext] NULL,
	[IMAGE] [nvarchar](max) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[MAIN_KEYWORD] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[VIEWS] [int] NULL,
	[LIKES] [int] NULL,
	[STAR] [float] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__NEWS__3214EC27E639B94D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDORDERS] [int] NULL,
	[IDPRODUCT] [int] NULL,
	[PRICE] [decimal](18, 3) NULL,
	[QTY] [int] NULL,
	[TOTAL] [decimal](18, 3) NULL,
	[RETURN_QTY] [int] NULL,
 CONSTRAINT [PK_ORDERDETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDORDERS] [int] NULL,
	[ORDERS_DATE] [datetime] NULL,
	[IDCUSTOMER] [bigint] NULL,
	[IDPAYMENT] [bigint] NULL,
	[TOTAL_MONEY] [decimal](18, 3) NULL,
	[NOTES] [ntext] NULL,
	[NAME_RECIVER] [nvarchar](250) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[EMAIL] [nvarchar](150) NULL,
	[PHONE] [nvarchar](50) NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTNER]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTNER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NULL,
	[LOGO] [nvarchar](255) NULL,
	[URL] [nvarchar](255) NULL,
	[ORDERS] [tinyint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_METHOD]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_METHOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[NOTES] [ntext] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
 CONSTRAINT [PK_PAYMENT_METHOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NULL,
	[CODE] [nvarchar](10) NULL,
	[TITLE] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[IMAGE] [nvarchar](255) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[PRICE_OLD] [decimal](18, 0) NULL,
	[PRICE_NEW] [decimal](18, 0) NULL,
	[SIZE] [nvarchar](500) NULL,
	[VIEWS] [int] NULL,
	[LIKES] [int] NULL,
	[STAR] [float] NULL,
	[HOME] [tinyint] NULL,
	[HOT] [tinyint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__PRODUCT__3214EC27E639B94D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_EXTENSIONS]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_EXTENSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[EID] [int] NULL,
	[CONTENT] [ntext] NULL,
 CONSTRAINT [PK_PRODUCTEXTENSIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_IMAGES]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_IMAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[IMAGE] [nvarchar](500) NULL,
 CONSTRAINT [PK_PRODUCTIMAGES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_MATERIALS]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_MATERIALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[MID] [int] NULL,
 CONSTRAINT [PK_PRODUCTMATERIALS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLIDES]    Script Date: 12/10/2024 1:42:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLIDES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE] [nvarchar](255) NULL,
	[TITLE] [nvarchar](255) NULL,
	[SUB_TITLE] [nvarchar](255) NULL,
	[URLS] [nvarchar](255) NULL,
	[ORDERS] [int] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [nvarchar](max) NULL,
	[STATUS] [tinyint] NOT NULL,
	[ISDELETE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMIN_USER] ON 

INSERT [dbo].[ADMIN_USER] ([ID], [ACCOUNT], [PASSWORD], [MA_NHAN_SU], [NAME], [PHONE], [EMAIL], [AVATAR], [ID_PHONG_BAN], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [SESSION_TOKEN], [SALT], [IS_ADMIN], [TRANG_THAI], [IS_DELETE]) VALUES (1, N'Administrator', N'fd52e0d13bec72fc9029a5e93389a241292c30a3761aeeb578ccb77d9282e6c3', NULL, N'Phòng Đào Tạo', N'(+84) 24.3833.0708', NULL, NULL, NULL, CAST(N'2020-07-19T00:00:00.000' AS DateTime), NULL, CAST(N'2020-07-28T11:30:40.753' AS DateTime), NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[ADMIN_USER] ([ID], [ACCOUNT], [PASSWORD], [MA_NHAN_SU], [NAME], [PHONE], [EMAIL], [AVATAR], [ID_PHONG_BAN], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [SESSION_TOKEN], [SALT], [IS_ADMIN], [TRANG_THAI], [IS_DELETE]) VALUES (2, N'ChungTrinh', N'411fe1758a2c6bdf92dbad3f31c7ebe8966a630367ea4b1a325766a6af4d47f3', NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2020-07-19T00:00:00.000' AS DateTime), NULL, CAST(N'2020-07-28T11:48:21.627' AS DateTime), NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[ADMIN_USER] ([ID], [ACCOUNT], [PASSWORD], [MA_NHAN_SU], [NAME], [PHONE], [EMAIL], [AVATAR], [ID_PHONG_BAN], [NGAY_TAO], [NGUOI_TAO], [NGAY_CAP_NHAT], [NGUOI_CAP_NHAT], [SESSION_TOKEN], [SALT], [IS_ADMIN], [TRANG_THAI], [IS_DELETE]) VALUES (4, N'admin', N'c1c224b03cd9bc7b6a86d77f5dace40191766c485cd55dc48caf9ac873335d6f', NULL, NULL, NULL, N'admin@gmail.com', NULL, NULL, CAST(N'2020-08-01T09:31:41.407' AS DateTime), NULL, CAST(N'2020-08-01T09:31:41.407' AS DateTime), NULL, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[ADMIN_USER] OFF
GO
SET IDENTITY_INSERT [dbo].[BANNER] ON 

SET IDENTITY_INSERT [dbo].[BANNER] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[CONTACT] ON 

INSERT [dbo].[CONTACT] ([ID], [TITLE], [EMAIL], [PHONE], [ADDRESS], [CONTENT], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [STATUS], [ISDELETE]) VALUES (1, NULL, NULL, N'0978611889', NULL, NULL, CAST(N'2020-08-04T11:15:09.700' AS DateTime), CAST(N'2020-08-04T11:15:09.700' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[CONTACT] ([ID], [TITLE], [EMAIL], [PHONE], [ADDRESS], [CONTENT], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [STATUS], [ISDELETE]) VALUES (2, N'Trịnh Văn Chung', N'chungtrinhj@gmail.com', N'0978611889', NULL, N'Test Liên hệ', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CONTACT] ([ID], [TITLE], [EMAIL], [PHONE], [ADDRESS], [CONTENT], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [STATUS], [ISDELETE]) VALUES (3, NULL, NULL, N's', NULL, NULL, CAST(N'2020-08-11T18:37:45.427' AS DateTime), CAST(N'2020-08-11T18:37:45.427' AS DateTime), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[CONTACT] OFF
GO
INSERT [dbo].[CUSTOMER] ([CUSTOMERID], [NAME], [USERNAME], [PASSWORD], [ADDRESS], [EMAIL], [PHONE], [AVATAR], [CREATED_DATE], [UPDATED_DATE], [CREATED_BY], [UPDATED_BY], [ISDELETE], [ISACTIVE]) VALUES (0, NULL, NULL, N'1234', NULL, N'lan@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[EXTENSION] ON 

INSERT [dbo].[EXTENSION] ([ID], [TITLE], [ICON], [META_TITLE], [META_KEYWORD], [META_DESCRIPTION], [SLUG], [ORDERS], [PARENTID], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [NOTES], [STATUS], [ISDELETE]) VALUES (1, N'Đặc trưng', NULL, NULL, N'Đặc trưng', N'Đặc trưng', NULL, 1, NULL, CAST(N'2020-07-20T00:01:44.577' AS DateTime), CAST(N'2020-07-20T00:01:45.203' AS DateTime), NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[EXTENSION] ([ID], [TITLE], [ICON], [META_TITLE], [META_KEYWORD], [META_DESCRIPTION], [SLUG], [ORDERS], [PARENTID], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [NOTES], [STATUS], [ISDELETE]) VALUES (2, N'Thông số', NULL, NULL, N'Thông số', N'Thông số', NULL, 2, NULL, CAST(N'2020-07-20T00:02:38.750' AS DateTime), CAST(N'2020-07-20T00:02:38.750' AS DateTime), NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[EXTENSION] ([ID], [TITLE], [ICON], [META_TITLE], [META_KEYWORD], [META_DESCRIPTION], [SLUG], [ORDERS], [PARENTID], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [NOTES], [STATUS], [ISDELETE]) VALUES (3, N'Bảo quản', NULL, NULL, N'Bảo quản', N'Bảo quản', NULL, 3, NULL, CAST(N'2020-07-20T00:02:56.283' AS DateTime), CAST(N'2020-07-20T00:02:56.283' AS DateTime), NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[EXTENSION] OFF
GO
SET IDENTITY_INSERT [dbo].[INFOR_COMPANY] ON 

SET IDENTITY_INSERT [dbo].[INFOR_COMPANY] OFF
GO
SET IDENTITY_INSERT [dbo].[INTRODUCTIONS] ON 

SET IDENTITY_INSERT [dbo].[INTRODUCTIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[MATERIAL] ON 

INSERT [dbo].[MATERIAL] ([ID], [TITLE], [ICON], [META_TITLE], [META_KEYWORD], [META_DESCRIPTION], [SLUG], [ORDERS], [PARENTID], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [NOTES], [STATUS], [ISDELETE]) VALUES (1, N'Gỗ sồi', NULL, NULL, N'Gỗ sồi', N'Gỗ sồi', NULL, NULL, NULL, CAST(N'2020-07-20T01:52:43.413' AS DateTime), CAST(N'2020-07-20T01:52:43.413' AS DateTime), NULL, NULL, N'Gỗ sồi', 1, NULL)
INSERT [dbo].[MATERIAL] ([ID], [TITLE], [ICON], [META_TITLE], [META_KEYWORD], [META_DESCRIPTION], [SLUG], [ORDERS], [PARENTID], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [NOTES], [STATUS], [ISDELETE]) VALUES (2, N'Gỗ lim', NULL, NULL, N'Gỗ lim', N'Gỗ lim', NULL, NULL, NULL, CAST(N'2020-07-20T01:53:01.887' AS DateTime), CAST(N'2020-07-20T01:53:01.887' AS DateTime), NULL, NULL, N'Gỗ lim', 1, NULL)
INSERT [dbo].[MATERIAL] ([ID], [TITLE], [ICON], [META_TITLE], [META_KEYWORD], [META_DESCRIPTION], [SLUG], [ORDERS], [PARENTID], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [NOTES], [STATUS], [ISDELETE]) VALUES (3, N'Gỗ xoan đào', NULL, NULL, N'Gỗ xoan đào', N'Gỗ xoan đào', NULL, NULL, NULL, CAST(N'2020-07-20T15:51:09.267' AS DateTime), CAST(N'2020-07-20T15:51:09.267' AS DateTime), NULL, NULL, N'Gỗ xoan đào', 1, NULL)
SET IDENTITY_INSERT [dbo].[MATERIAL] OFF
GO
SET IDENTITY_INSERT [dbo].[NEWS] ON 

SET IDENTITY_INSERT [dbo].[NEWS] OFF
GO
SET IDENTITY_INSERT [dbo].[PARTNER] ON 

INSERT [dbo].[PARTNER] ([ID], [TITLE], [LOGO], [URL], [ORDERS], [CREATED_DATE], [UPDATED_DATE], [ADMIN_CREATED], [ADMIN_UPDATED], [CONTENT], [STATUS], [ISDELETE]) VALUES (2, N'TẬP ĐOÀN KHÁCH SẠN MƯỜNG THANH', N'/images/anhcat/muong-thanh.png', NULL, NULL, CAST(N'2020-07-30T11:45:50.823' AS DateTime), CAST(N'2020-07-30T11:45:50.823' AS DateTime), NULL, NULL, N'Tại Mường Thanh, chúng tôi mời bạn cùng khởi hành chuyến đi tìm về không gian thanh thản chứa đựng những nét văn hóa mang đậm tinh thần bản sắc Việt, nơi con người gắn kết và thân ái gửi trao nhau tình cảm chân thành. ', 1, NULL)
SET IDENTITY_INSERT [dbo].[PARTNER] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_EXTENSIONS] ON 

INSERT [dbo].[PRODUCT_EXTENSIONS] ([ID], [PID], [EID], [CONTENT]) VALUES (1, 4, 1, N'<p>P002</p>
')
INSERT [dbo].[PRODUCT_EXTENSIONS] ([ID], [PID], [EID], [CONTENT]) VALUES (2, 4, 2, N'<p>P002</p>
')
INSERT [dbo].[PRODUCT_EXTENSIONS] ([ID], [PID], [EID], [CONTENT]) VALUES (3, 4, 3, N'<p>P002</p>
')
SET IDENTITY_INSERT [dbo].[PRODUCT_EXTENSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_IMAGES] ON 

INSERT [dbo].[PRODUCT_IMAGES] ([ID], [PID], [IMAGE]) VALUES (25, 8, N'/images/PHONG-KHACH/p002-small-1.jpg')
INSERT [dbo].[PRODUCT_IMAGES] ([ID], [PID], [IMAGE]) VALUES (26, 8, N'/images/PHONG-KHACH/p002-small-2.jpg')
INSERT [dbo].[PRODUCT_IMAGES] ([ID], [PID], [IMAGE]) VALUES (27, 8, N'/images/PHONG-KHACH/p002-small-3.png')
SET IDENTITY_INSERT [dbo].[PRODUCT_IMAGES] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_MATERIALS] ON 

INSERT [dbo].[PRODUCT_MATERIALS] ([ID], [PID], [MID]) VALUES (1, 4, 1)
INSERT [dbo].[PRODUCT_MATERIALS] ([ID], [PID], [MID]) VALUES (2, 4, 2)
INSERT [dbo].[PRODUCT_MATERIALS] ([ID], [PID], [MID]) VALUES (3, 4, 3)
SET IDENTITY_INSERT [dbo].[PRODUCT_MATERIALS] OFF
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF__PRODUCT_C__CREAT__25518C17]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF__PRODUCT_C__UPDAT__2645B050]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF__PRODUCT_C__PROJE__2739D489]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF__PRODUCT_C__PROJE__282DF8C2]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[EXTENSION] ADD  CONSTRAINT [DF__PRODUCT_E__CREAT__3A81B327]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[EXTENSION] ADD  CONSTRAINT [DF__PRODUCT_E__UPDAT__3B75D760]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[EXTENSION] ADD  CONSTRAINT [DF__PRODUCT_E__STATU__3C69FB99]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[EXTENSION] ADD  CONSTRAINT [DF__PRODUCT_E__ISDEL__3D5E1FD2]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__IMAGE__5070F446]  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [IMAGE]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__CREAT__5165187F]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__UPDAT__52593CB8]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__STATU__534D60F1]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__ISDEL__5441852A]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__IMAGE__31EC6D26]  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [IMAGE]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__CREATED__32E0915F]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__UPDATED__33D4B598]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__STATUS__34C8D9D1]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__ISDELET__35BCFE0A]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [LOGO]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT ((1)) FOR [ORDERS]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__IMAGE__31EC6D26]  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [IMAGE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_HOME]  DEFAULT ((0)) FOR [HOME]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__CREATED__32E0915F]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__UPDATED__33D4B598]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__STATUS__34C8D9D1]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__ISDELET__35BCFE0A]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [IMAGE]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
USE [master]
GO
